<section class="bookSection">
    <div class="bookLeft">
        <form action="/reservation" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <br>
            <input type="text" name="phone" placeholder="Phone">
            <input type="text" name="people" placeholder="People">
            <br>
            <input type="text" name="date" placeholder="Date (mm/dd)">
            <input type="time" name="time" placeholder="Time">
            <br>
            <input type="submit" value="book">
        </form>
    </div>
</section>