<section class="feedback">
    <form action="/feedback" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <select name="rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <textarea name="message" cols="30" rows="10" placeholder="Your message"></textarea>
        <input type="submit" value="SEND NOW">
    </form>
</section>